@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}


body{
  @apply bg-gradient-to-r from-[#181F52] via-[#1C4671] to-[#205C84] min-h-screen
}

.content-container {
  @apply xl:max-w-7xl lg:max-w-5xl px-3 py-3 mt-2 rounded mx-auto bg-[#1D335A];
}

h1{
  @apply text-xl font-bold
}
.multiselectContainer{
  @apply text-black
}
.container{
  @apply max-w-7xl px-2 mx-auto min-h-screen overflow-y-hidden
}
.realtimelabelwarpper{
  @apply font-medium text-center bg-slate-800 text-white
}
.realtimedatawarpper{
  @apply font-semibold text-center bg-slate-800
}
.report-title{
  @apply text-center text-white rounded-md
}
.tableContainer{
  @apply w-full min-w-full border-collapse text-sm text-left rtl:text-right text-gray-500 
}
/* .tableContainer{
  @apply w-full min-w-full border-collapse text-sm text-left rtl:text-right text-gray-500 dark:text-gray-400
} */
.thead{
  @apply sticky top-0 z-10 text-xs text-gray-50 bg-[#1C4671] uppercase 
}
/* .thead{
  @apply sticky top-0 z-10 text-xs text-gray-50 bg-[#1C4671] uppercase dark:bg-gray-700 dark:text-gray-400
} */
.tableParent{
  @apply relative overflow-x-auto shadow-md sm:rounded-lg lg:h-[calc(100vh-280px)] h-[484px] overflow-y-auto
}
.tableRow{
  @apply odd:bg-white  even:bg-gray-50 border-b 
}
/* .tableRow{
  @apply odd:bg-white odd:dark:bg-gray-900 even:bg-gray-50 even:dark:bg-gray-800 border-b dark:border-gray-700
} */
.custom-tab {
@apply text-white
}
nav{
  @apply h-16
}