@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  /* color: rgb(var(--foreground-rgb)); */
  /* overflow-y: hidden; */
}

body{
  @apply bg-gradient-to-r from-indigo-300 via-purple-300 to-pink-300 min-h-screen
}

.content-container {
  @apply xl:max-w-7xl lg:max-w-5xl px-3 py-3 rounded mx-auto bg-gradient-to-r from-indigo-200 from-0% via-sky-200 via-30% to-emerald-200 to-90%;
}

h1{
  @apply text-xl font-bold
}
.multiselectContainer{
  @apply text-black
}
.container{
  @apply max-w-7xl p-6 mx-auto
}
.realtimelabelwarpper{
  @apply font-medium text-center bg-slate-800 text-white
}
.realtimedatawarpper{
  @apply font-semibold text-center bg-slate-800
}
.report-title{
  @apply text-center bg-gradient-to-r from-indigo-400 from-10% via-sky-300 via-30% to-emerald-300 to-90% rounded-md
}
.tableContainer{
  @apply w-full min-w-full border-collapse text-sm text-left rtl:text-right text-gray-500 dark:text-gray-400
}
.thead{
  @apply sticky top-0 z-10 text-xs text-gray-50 uppercase bg-blue-600 dark:bg-gray-700 dark:text-gray-400
}
.tableParent{
  @apply relative overflow-x-auto shadow-md sm:rounded-lg lg:h-96 h-[484px] overflow-y-auto
}
.tableRow{
  @apply odd:bg-white odd:dark:bg-gray-900 even:bg-gray-50 even:dark:bg-gray-800 border-b dark:border-gray-700
}