@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  /* color: rgb(var(--foreground-rgb)); */
  /* overflow-y: hidden; */
}

body{
  @apply bg-gradient-to-r from-indigo-300 via-purple-300 to-pink-300 min-h-screen
}

.content-container {
  @apply xl:max-w-7xl lg:max-w-5xl px-3 mx-auto;
}

h1{
  @apply text-xl font-bold
}
.multiselectContainer{
  @apply text-black
}
.container{
  @apply max-w-7xl p-6 mx-auto
}
.realtimelabelwarpper{
  @apply font-medium text-center bg-slate-800 text-white
}
.realtimedatawarpper{
  @apply font-semibold text-center bg-slate-800
}